*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.App {
  min-height: 100vh;
  background-image: url(./images/cold.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  overflow: hidden;
}

.App.warm{
  background-image: url(./images/warms.jpg);
}

.main {
  min-height: 100vh;
  padding: 50px;
}

.search-box{
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
}

.search-input{
  display: block;
  width: 100%;
  padding: 15px;
  margin: 50PX 150px;
  border: 0.5px solid #888888 ;
  color: #5f5e5e;
  background-color: rgb(236, 236, 236);
}

.location-box{
  text-align: center;
}

.location{
  display: inline-block;
  margin: 30PX auto;
  font-family: 'Acme';
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #585858;

}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #888888;
  font-family: 'Fredoka One';
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 25px 60px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #585858;
  border-radius: 5PX 5PX 5PX 5PX;
  text-shadow: 9px 9px 9px 9px ;
  font-size: 50PX;
  color: white;
}

.weather-box .weather{
  font-family: 'Acme';
  position: relative;
  font-size: 50PX;
  color: white;
  margin-top: 20px;
}



